<div class="row" id="burger-row">
    <div class="col-md-6">
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    <li class="row">
                        <div class="col-md-10">
                            {{id}}. {{burger_name}}
                        </div>
                        <div class="col-md-2">
                            <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">DEVOUR!</button>
                        </div>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
        
    </div>

    <div class="col-md-6">
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                <li>{{id}}. {{burger_name}}</li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
